.main {
    .grid.col {
        display: flex;
        flex-flow: column wrap;

        // Стили списка уроков
        .lesson {
            animation: showLessons 1s;
            width: $sizeLesson + 200px;

            .date {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                font-style: italic;

                .planner {
                    width: 40px;
                    height: 40px;
                    margin-top: -18px;
                }
            }

            .adress, .title, .group {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 15px 0;

                img {
                    width: 30px;
                    height: 30px;
                }

                .text {
                    margin-left: 10px;
                }
            } 
        }

        // Стили кнопки `На главную страницу`
        .control {
            display: flex;
            justify-content: center;
            margin-bottom: $freeSpace;

            .back {
                display: flex;
                padding: 15px;
                border: 1px solid rgba(94, 86, 86, 0.8);
            }
            .back:hover {
                color: #9555af;
                border-color: currentColor;
                background-color: white;
                transform: translateY(1px);
             }
             .back:active {
                filter: saturate(150%);
             }
        }
    }
}

@keyframes showLessons {
    0% {
        transform: scale(0.1);
        opacity: 0;
      }
      60% {
        transform: scale(1.1);
        opacity: 1;
      }
      100% {
        transform: scale(1);
      }
}

/* Portrait tablets and small desktops */
@media (min-width: 421px) and (max-width: 768px) {
    .container {
        .grid.col {
            .lesson {
                width: $sizeLesson + 200px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 421px) {
    .container {
        .grid.col {
            .lesson {
                width: 100%;
            }
        }
    }
}