.main {
    display: flex;
    justify-content: center;

    .grid.row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        
        // Уникальные стили для `lesson`, `date`, `quantity`
        .lesson {
            width: $sizeLesson;
            height: $sizeLesson;
            transition: all 0.25s ease-in-out;
        }
        .date, .quantity {
            margin-top: 20%;
        }
    }

    // Общие стили для `lesson`, `quantity`
    .lesson {
        margin-bottom: $freeSpace;
        background: $lesBackground;
        background-repeat: repeat;
        box-shadow: $boxShadow;
        text-align: center;
        cursor: pointer;
    }
    .quantity {
        width: 40%;
        margin: 0 auto;
        border-bottom: 2.5px solid $greenColor;
        transition: all 0.45s ease-in-out;
    }

    // Эффект при наведений на `lesson`
    .grid.row {
        .lesson:hover {
            transform: translate(-5px, -5px);

            .date, .quantity, .show {
                opacity: 1; 
            }
            .quantity {
                width: 60%;
            }
        }
    }
}

@import 'lessons';

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .main {
        .container {
            .grid.row {
                justify-content: space-evenly;

                .lesson {
                    max-width: $sizeLesson - 100px;
                    max-height: $sizeLesson - 100px;
                }
            }
        }
    }
}