$freeSpace: 40px;
$sizeLesson: 270px;
$blackColor: #000;
$boxShadow: 1px 3px 4px rgba($blackColor, 0.5);
$urlBackground: url(../images/email-pattern.png);

@import 'reset';
@import 'grid';
@import 'typography';

body {
    background-image: $urlBackground;
    background-repeat: repeat;
}