<%- include("layout/header.ejs"); %>
<div class="main">
    <div class="container">
        <div class="grid col">
            <h1><%= message %></h1>
            <h5>
                <%= stack %>
            </h5>
            <a href="/">На главную страницу</a>
        </div>
    </div>
</div>