<%- include("layout/header.ejs"); %>
<div class="main">
    <div class="container">
        <div class="grid col">
            <h1><%= error %></h1>
            <a href="/">На главную страницу</a>
        </div>
    </div>
</div>