<%- include("layout/header.ejs") %>
<header class="heading">
    <div class="container">
        <div class="title">
            <h1>Расписание занятии инновационого центра</h1>
        </div>
    </div>
</header>
<div class="main">
    <div class="container">
        <div class="grid row">
            <div class="lesson">
                <div class="date">
                    25 декабря 2019
                </div>
                <div class="quantity">
                    3 урока
                </div>
                <a href="/lessons" class="link show" onclick="">Смотреть</a>
            </div>   
            <div class="lesson">
                <div class="date">
                    25 декабря 2019
                </div>
                <div class="quantity">
                    3 урока
                </div>
                <a href="/lessons" class="link show" onclick="">Смотреть</a>
            </div> 
            <div class="lesson">
                <div class="date">
                    25 декабря 2019
                </div>
                <div class="quantity">
                    3 урока
                </div>
                <a href="/lessons" class="link show" onclick="">Смотреть</a>
            </div> 
            <div class="lesson">
                <div class="date">
                    25 декабря 2019
                </div>
                <div class="quantity">
                    3 урока
                </div>
                <a href="/lessons" class="link show" onclick="">Смотреть</a>
            </div> 
        </div>
    </div>
</div>
<%- include("layout/footer.ejs") %>