<%- include("layout/header.ejs") %>

<div class="wrap">
    <nav>
        <div class="sidebar-wrapper">
            <ul>
              <li><a href="#1">Расписание</a></li>
              <li><a href="#2">Панель управления</a></li>
            </ul>
        </div>
    </nav>
    <section class="about">
        <div class="title">
            <h2>Jastar time</h2>
        </div>
        <div class="info">
            <p class="phone">
                <img src="#" alt="phone">
                <span>8 (7232) 75 33 33</span>
            </p>
            <p class="email">
                <img src="#" alt="email">
                <span>ipo_ekrgcnto@mail.ru</span>
            </p>
            <p class="location">
                <img src="#" alt="location">
                <span>пр. Абая, дом 21, 2 этаж</span>
            </p>
        </div>
    </section>
    <section class="select-month">
        <div class="title">
            <h2>Выберите необходимый месяц</h2>
        </div>
        <div class="list-months">
            <div class="item">
                <h3>Январь</h3>
            </div>
            <div class="item">
                <h3>Февраль</h3>
            </div>
            <div class="item">
                <h3>Март</h3>
            </div>
            <div class="item">
                <h3>Апрель</h3>
            </div>
            <div class="item">
                <h3>Май</h3>
            </div>
            <div class="item">
                <h3>Июнь</h3>
            </div>
            <div class="item">
                <h3>Июль</h3>
            </div>
            <div class="item">
                <h3>Август</h3>
            </div>
            <div class="item">
                <h3>Сентябрь</h3>
            </div>
            <div class="item">
                <h3>Октябрь</h3>
            </div>
            <div class="item">
                <h3>Ноябрь</h3>
            </div>
            <div class="item">
                <h3>Декабрь</h3>
            </div>
        </div>
    </section>
    <section class="select-day">
        <div class="title">
            <h2>Выберите необходимый день</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>пн</th>
                    <th>вт</th>
                    <th>ср</th>
                    <th>чт</th>
                    <th>пт</th>
                    <th>сб</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>

<%- include("layout/footer.ejs"); %>