<%- include("layout/header.ejs") %>
    <header class="heading">
        <div class="container">
            <div class="title">
                <h1>Расписание занятии инновационого центра</h1>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="grid col">
                <div class="lesson">
                    <div class="date">
                        <img class="planner" src="images/clock.svg" alt="planner">
                        <span class="start">25 декабря 2019, 09:30 - 10:30</span> 
                    </div>
                    <hr>
                    <div class="adress">
                        <img class="location" src="images/location.png" alt="location">
                        <span class="text">г.Усть-Каменогорск, ул.Абая 21, 2 этаж</span>
                    </div>
                    <hr>
                    <div class="title">
                        <img class="laptop" src="images/laptop.png" alt="laptop">
                        <span class="text">Работа в программе Adobe Photoshop</span>
                    </div>
                    <hr>
                    <div class="group">
                        <img class="people" src="images/people.png" alt="people">
                        <span class="text">Группа 1 (с русским языком обучения)</span> 
                    </div>
                </div>  
                 <div class="lesson">
                    <div class="date">
                        <img class="planner" src="images/clock.svg" alt="planner">
                        <span class="start">25 декабря 2019, 09:30 - 10:30</span> 
                    </div>
                    <hr>
                    <div class="adress">
                        <img class="location" src="images/location.png" alt="location">
                        <span class="text">г.Усть-Каменогорск, ул.Абая 21, 2 этаж</span>
                    </div>
                    <hr>
                    <div class="title">
                        <img class="laptop" src="images/laptop.png" alt="laptop">
                        <span class="text">Работа в программе Adobe Photoshop</span>
                    </div>
                    <hr>
                    <div class="group">
                        <img class="people" src="images/people.png" alt="people">
                        <span class="text">Группа 1 (с русским языком обучения)</span> 
                    </div>
                </div> 
                <div class="lesson">
                    <div class="date">
                        <img class="planner" src="images/clock.svg" alt="planner">
                        <span class="start">25 декабря 2019, 09:30 - 10:30</span> 
                    </div>
                    <hr>
                    <div class="adress">
                        <img class="location" src="images/location.png" alt="location">
                        <span class="text">г.Усть-Каменогорск, ул.Абая 21, 2 этаж</span>
                    </div>
                    <hr>
                    <div class="title">
                        <img class="laptop" src="images/laptop.png" alt="laptop">
                        <span class="text">Работа в программе Adobe Photoshop</span>
                    </div>
                    <hr>
                    <div class="group">
                        <img class="people" src="images/people.png" alt="people">
                        <span class="text">Группа 1 (с русским языком обучения)</span> 
                    </div>
                </div> 
                <div class="lesson">
                    <div class="date">
                        <img class="planner" src="images/clock.svg" alt="planner">
                        <span class="start">25 декабря 2019, 09:30 - 10:30</span> 
                    </div>
                    <hr>
                    <div class="adress">
                        <img class="location" src="images/location.png" alt="location">
                        <span class="text">г.Усть-Каменогорск, ул.Абая 21, 2 этаж</span>
                    </div>
                    <hr>
                    <div class="title">
                        <img class="laptop" src="images/laptop.png" alt="laptop">
                        <span class="text">Работа в программе Adobe Photoshop asdsadasdasd asdas asd asdsad sad</span>
                    </div>
                    <hr>
                    <div class="group">
                        <img class="people" src="images/people.png" alt="people">
                        <span class="text">Группа 1 (с русским языком обучения)</span> 
                    </div>
                </div>   
                <div class="control">
                    <a href="/" class="link back">На главную страницу</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <%- include("layout/footer.ejs") %>
